.logo {
    width: 60px;
    height: 60px;
}

.logoSide {
    width: 100px;
    height: 100px;
}

.btn {
    height: 61px !important;
    width: 185px !important;
    border-radius: 0 !important;
    letter-spacing: 2px !important;
}

.btn-primary {
    background-color: #68B852 !important;
    border: none !important;
    outline: none !important;

}

.navbar-toggler {
    border: none !important;
    outline: none !important;
    color: #68B852 !important;
    box-shadow: none !important;

}

.navbar-toggler:focus,
.navbar-toggler:hover {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;

}

.btn-close {
    border: none !important;
    border-radius: 0 !important;
    outline: none !important;
    opacity: 1 !important;
    background: #68B852 !important;
    background-image: none !important;
    color: #ffffff !important;
    box-shadow: none !important;
    padding: 10px !important;
    height: fit-content !important;
    width: 1.3rem !important;
}

.btn-close:hover {
    background-color: #243D44 !important;
}

@media (max-width: 768px) {
    .btn {
        height: 41px !important;
        width: 125px !important;
        border-radius: 0 !important;
        font-size: 12px !important;
    }
}

.navColor:hover {
    color: #68B852 !important;
}

.navColor {
    color: #fff !important;
}

.active {
    color: #68B852 !important;
}



.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    width: 800px !important;
    border-radius: 0 !important;
}

.subNav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.subNavColor {
    color: #243D44;
}

.subNavColor:hover {
    color: #68B852;
}

@media (max-width: 1324px) and (min-width:1120px) {

    .dropdown-menu {
        width: 700px !important;
    }
}

@media (max-width: 1120px) and (min-width:993px) {

    .dropdown-menu {
        width: 600px !important;
    }
}

@media (max-width: 992px) {
    .navColor {
        color: #243D44 !important;
    }

    .dropdown-menu {
        width: 345px !important;
    }
}